# Ignore executable files
*.exe
*.bin

# # Ignore other common build files and directories
# *.obj
# *.o
# *.out
# *.class
# *.dll
# *.so
# *.dylib
# *.a
# *.lib
# *.pyc
# *.pyo
# *.pdb
# __pycache__/
# *.swp
# .DS_Store
# Thumbs.db
